:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6649b8;
  }
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.nav {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: $bg-primary;
  transition: width 200ms ease;
  &:hover {
    width: 16rem;
    .nav--list-link-text {
      display: block;
    }
  }
}

.nav--list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav--list-item {
  width: 100%;

  &:last-child {
    margin-top: auto;
  }
}

.nav--list-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $text-primary;
  text-decoration: none;
  svg {
    min-width: 2rem;
    margin: 0 1.5rem;
  }
}

.nav--list-link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  font-size: 28px;
  color: #ff7eee;
}
